<%- include("header"); -%>

<h1 style="color: blueviolet; text-align: center;">About Page!</h1>

<p style="text-align: center;">This is a site for making a list.</p>


<%- include("footer"); -%>